@import url('https://fonts.googleapis.com/css2?family=Alata&family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Bebas+Neue&family=Cardo:ital,wght@0,400;0,700;1,400&display=swap');

.container-fluid {
    padding: 0;
}

.navbar-toggler .navbar-toggler-icon {
    filter: invert(100%);
}

.navbar-brand {
    padding-left: 50px;
}

.navbar-nav {
    font-family: Alata;
    font-size: 17px;
}

#title-words {
    font-family: Cardo;
    text-decoration: underline;
}

#information h2 {
    font-family: Alata;
}

#information p {
    font-family: Cardo;
    font-size: 21px;
}


.nav-item {
    font-family: Alata;
}

#copyright-text {
    font-family: cardo;
}

/*xs*/
@media screen and (max-width: 575px) {

}
/*small*/
@media screen and (min-width: 576px) and (max-width: 767px) {

}
/*medium*/
@media screen and (min-width: 768px) and (max-width: 991px) {

}
/*large*/
@media screen and (min-width: 992px) and (max-width: 1199px) {

}
/*xl*/
@media screen and (min-width: 1200px) {

}